<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <title>ICV Report</title>

  </head>

  <body>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">ICV System</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/admin">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/new_vendor" style="background-color:#dddddd;">
            <i class='bx bx-user-plus'></i>
            <span class="links_name">New Registration</span>
          </a>
          <span class="tooltip">New Registration</span>
        </li>
        <li>
          <a href="/vendor">
            <i class='bx bx-list-ol'></i>
            <span class="links_name">Vendors</span>
          </a>
          <span class="tooltip">List of Vendors</span>
        </li>
        <li>
          <a href="/contracts_list">
            <i class='bx bx-list-ol'></i>
            <span class="links_name">Business Partner</span>
          </a>
          <span class="tooltip">List of Business Partner</span>
        </li>
        <li>
          <a href="">
            <i class='bx bx-spreadsheet'></i>
            <span class="links_name">Reports</span>
          </a>
          <span class="tooltip">Reports</span>
        </li>
        <li>
          <a href="/users/logout">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log Out</span>
          </a>
          <span class="tooltip">Log Out</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <div class="name"> <%= name %></div>
              <div class="job"><%= role %></div>
            </div>
          </div>
          <i class="bx bx-buildings" id="log_out"><a href=""></a></i>
        </li>
      </ul>
    </div>

    <script>

      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");
      
      closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
      });
      
      
      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
       }
      }
      
      </script>
    <section class="home-section">
    <div class="text">Admin Dashboard</div>
    <div class="container">
    <div class="card">
    <div class="card-body">

        <h4>New Vendor Registration</h4>
        <hr>
   <div class="table-responsive">
  <table class="table table-bordered" id="content_table">
    <thead>
      <tr class="text-center">
        <th scope="col">Vendor ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th>Action</th>
       
      </tr>
    </thead>

    <tbody id="table1" class="text-center">
        <% userList.forEach(vendor =>{ if(vendor.role === 'Vendor' && vendor.status === 'Waiting For Approval') { %>  
      <tr>
        <td><%= vendor.v_id%></td>
        <td><%= vendor.name%></td>
        <td><%= vendor.status%></td>
        <td class="text-center"><a href="/users/edit_vendor/<%= vendor._id %>" type="button" class="btn btn-warning btn-md">View Details</a></td>
          </tr>
        <% }}) %>
    </tbody>
    
    <tr><td colspan="4"></td></tr>
    <tfoot>
      <tr>
        <td class="text-center" colspan="3" style="font-weight: bold;">Total</td>
     <td id="totalnew" class="text-center"></td>
      </tr>
    </tfoot>
    </table>

    <script>
     
    
    var reg = document.getElementById("table1").rows.length;
    document.getElementById("totalnew").innerHTML = reg;

    </script>
  </div>

    </div> <!--End of card body-->
  </div><!--End of card-->
</div><!--End of container-->
<br>
</section><!--End of section-->


       <!--jQuery and Bootstrap Bundle (includes Popper) -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    </body>
  </html>